<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Reduce Selenium / HTTP noise -->
    <logger name="org.apache.hc.client5.http.wire" level="OFF"/>
    <logger name="org.apache.hc.client5.http" level="WARN"/>
    <logger name="org.openqa.selenium" level="WARN"/>

    <!-- Your framework logs -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>